body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    
}

.container {
    background: lightblue;
    padding: 20px; 
    border-radius: 10px;
    text-align: center;
    width: 350px; 
    
}

.container h2{
    color: orangered;
}
input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid  white;
    width: 150px;
    height: 20px;
    
}

button {
    background-color:  #4CAF50;
    color: white;
    cursor: pointer;
    height: 40px;
}

button:hover {
    background-color: #45a049;
}
#result{
    font-weight: bold;
    color: rgb(27, 10, 56);
    font-size: 20px;
}
